<p style="color: green"><%= notice %></p>


<div class="columns mt-6 is-centered">
  <p><span class="has-text-weight-bold">Gift cards</span></p><br>
</div>

<% if !!current_user %>
  <div class="columns mt-6 is-centered">
    <p><span class="has-text-weight-bold"><%= link_to "Create gift card", new_gcard_path %></span></p>
  </div>
<% end %>


<% if !!current_user %>
  <div id="gcards">
    <% (current_user.gcards).each do |gcard| %>
      <%= render gcard %>
    <% end %>
  </div>
<% end %>

<% if !!current_employee %>
  <div id="gcards">
    <% (current_employee.gcards).each do |gcard| %>
      <%= render gcard %>
    <% end %>
  </div>
<% end %>

