<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>

  <% end %>
</div>

<% if current_admin %>
  <%= link_to "New product", new_product_path %>
<% end %>
